.c-button {
  margin-bottom: 1.25rem;
}

.mat-accent.mat-mdc-fab,
.mat-accent.mat-mdc-mini-fab {
  --mdc-fab-container-color: #21c25e;
  --mdc-fab-small-container-color: #21c25e;
  --mat-fab-foreground-color: #ffffff;
  --mat-fab-state-layer-color: #ffffff;
  --mat-fab-small-foreground-color: #ffffff;
  --mat-fab-small-state-layer-color: #ffffff;
}

.mat-mdc-extended-fab {
  padding: 0 2.5rem;
}

@media (max-width: 578px) {
  .mat-mdc-extended-fab {
    padding: 0 3.75rem;
  }
}
