header {
  border-bottom: 1px solid #cfcfcf;
  padding: 0.625rem 3.75rem;
}

.logo {
  width: 141.94px;
  height: 46px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;

  .avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #abadb3;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.c-button {
  background-color: transparent;
  border: none;
}
