html,
body {
  height: 100%;
  --mat-datepicker-calendar-date-today-outline-color: #21c25e;
  --mdc-text-button-label-text-color: #05923b;
  --mdc-protected-button-label-text-color: #05923b;
  --mat-text-button-horizontal-padding: 0px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
