<mat-dialog-content>
  <h4>{{ data.isEdit ? "Editar" : "Adicionar" }}</h4>

  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="paymentForm.get('name')?.hasError('')">
          O nome é obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="paymentForm.get('username')?.hasError('')">
          O usuário é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="paymentForm.get('title')?.hasError('')">
          O título é obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Valor</mat-label>
        <input
          matInput
          type="number"
          formControlName="value"
          class="example-right-align"
        />
        <span matTextPrefix>R$</span>
        <mat-error *ngIf="paymentForm.get('value')?.hasError('')">
          O valor é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="date-container">
      <mat-form-field appearance="outline">
        <mat-label>Escolha uma data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="paymentForm.get('date')?.hasError('')">
          A data é obrigatória.
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle matInput formControlName="isPayed" class="c-switch"
        >Pago</mat-slide-toggle
      >
    </div>

    <div mat-dialog-actions>
      <button mat-button type="button" mat-dialog-close class="cancel-button">
        Cancelar
      </button>
      <button mat-button type="submit">
        {{ data.isEdit ? "Salvar Alterações" : "Adicionar" }}
      </button>
    </div>
  </form>
</mat-dialog-content>
